In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [4]:
data <- read_tsv("data/labels.tsv") %>%
	bind_rows(read_tsv("data/labels_ts2024.tsv"))

Rows: 1259 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (5): pseudo_id, sex, staging, pseudo_patid, set
dbl (4): age, px, psa, label

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 200 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (5): pseudo_id, sex, staging, pseudo_patid, set
dbl (4): px, psa, label, age
lgl (1): unknown

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

## Patients

In [8]:
data %>%
	summarize(n_distinct(pseudo_patid))

  n_distinct(pseudo_patid)
1 1189

In [7]:
data %>%
	summarize(n_distinct(pseudo_patid), .by=set)

  set   n_distinct(pseudo_patid)
1 train 904
2 val   170
3 test  198

## Scans

In [10]:
data %>% count(set) %>% mutate(total=sum(n))

  set   n    total
1 test   200 1459
2 train 1059 1459
3 val    200 1459

## Staging

In [11]:
data %>% count(staging, .by=set)

  staging .by   n
1 primary train 222
2 re      test  200
3 re      train 837
4 re      val   200

## Age

In [15]:
data %>% reframe(mean(age), min(age), max(age))

  mean(age) min(age) max(age)
1 70.51953  44       90

In [ ]:
data %>% reframe(mean(age), min(age), max(age), .by=set)

  set   mean(age) min(age) max(age)
1 train 70.28895  44       90
2 val   71.00000  46       89
3 test  71.26000  53       86

## Prostatectomy

In [19]:
data %>% summarize(sum(px, na.rm=T), mean(px, na.rm=T))

  sum(px, na.rm = T) mean(px, na.rm = T)
1 825                0.566232

In [18]:
data %>% summarize(sum(px, na.rm=T), mean(px, na.rm=T), .by=set)

  set   sum(px, na.rm = T) mean(px, na.rm = T)
1 train 568                0.5363551
2 val   134                0.6700000
3 test  123                0.6212121

## PSA Level

In [23]:
data %>%
	summarize(mean(psa, na.rm=T), min(psa, na.rm=T), max(psa, na.rm=T))

  mean(psa, na.rm = T) min(psa, na.rm = T) max(psa, na.rm = T)
1 44.25572             0                   7434

In [24]:
data %>%
	summarize(mean(psa, na.rm=T), min(psa, na.rm=T), max(psa, na.rm=T), .by=set)

  set   mean(psa, na.rm = T) min(psa, na.rm = T) max(psa, na.rm = T)
1 train 45.64820             0                   3420
2 val   51.48481             0                   7434
3 test  30.05347             0                    932

## Label

In [29]:
data %>%
	count(label, set) %>%
	mutate(total = sum(n), .by=label)

  label set   n   total
1 0     test   89 658
2 0     train 460 658
3 0     val   109 658
4 1     test  111 737
5 1     train 542 737
6 1     val    84 737
7 2     train  57  64
8 2     val     7  64